* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
nav {
  background-image: url("https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

#aside1 {
  height: auto;
  width: 100%;
  background: linear-gradient(to bottom right, #000000b6, rgb(32, 37, 37));
}

i.h1 {
  color: #083736;
}

.device-wrapper {
  padding-top: 2rem;
  display: flex !important;
  justify-content: center;
}

.rounded-circle {
  border-radius: 50% !important;
  padding: 2rem;
}

.cta {
  background-image: url("https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  padding-top: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-badge {
  height: auto;
  width: 9.125rem;
}

.bottom {
  background: rgb(3, 3, 3);
}
