* {
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

#aside1 {
  height: auto;
  width: 100%;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 18%,
    rgba(70, 236, 252, 1) 99%
  );
}

i.h1 {
  color: #083736;
}

.device-wrapper {
  padding-top: 2rem;
  display: flex !important;
  justify-content: center;
}

.rounded-circle {
  border-radius: 50% !important;
  padding: 2rem;
}

.cta {
  background-image: url("https://images.pexels.com/photos/1106468/pexels-photo-1106468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  padding-top: 2rem;
}

.app-badge {
  height: auto;
  width: 9.125rem;
}

#download {
  background-color: #36918f;
}
